

@font-face {
  font-family: 'Algerian';
  src: url('~assets/fonts/Algerian.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'typewriter';
  src: url('~assets/fonts/typewriter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


 
  body {
    /* font-family: 'Algerian', sans-serif; */
  } 

  